.binder-container {
  margin-top: 70px;
  padding: 30px;
  border: 1px solid #ddd;
}
.binder-container.in-step-5 {
  margin-top: 0;
  border: none;
}
.binder-container button.btn-confirm-bind,
.binder-container button.btn-dl-binder {
  margin-top: 30px;
}
.binder-container button.btn-dl-binder i {
  margin-right: 10px;
}
.save-close-container .btn {
  width: 183px;
}
.save-close-container .btn-previous {
  margin-right: 20px;
}
.table-container {
  clear: both;
  margin-bottom: 20px;
}
.table-container .table-header {
  padding: 12px 20px;
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
}
.table-container .table-content {
  padding: 20px;
}
.table-container .table-content.no-pad {
  padding: 0;
}
.table-container .table-content.top-pad-10 {
  padding-top: 10px;
}
.table-container .table-content.border {
  border: 1px solid #ddd;
}
.table-container .table-content .title {
  display: block;
  font-size: 13px;
  color: #8c9094;
  padding-bottom: 12px;
}
.table-container .table-content .description {
  display: block;
  font-size: 13px;
  color: #272b2e;
  margin-bottom: 15px;
  padding-right: 15px;
}
.table-container .table-content .table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
}
.table-container .table-content .table.no-border {
  border: none;
}
.table-container .table-content table.head-values,
.table-container .table-content table.content-values {
  font-size: 13px;
}
.table-container .table-content table.head-values td,
.table-container .table-content table.content-values td {
  border-top: 0px;
  padding: 10px 0px 0;
}
.table-container .table-content table.head-values td:nth-of-type(2),
.table-container .table-content table.content-values td:nth-of-type(2) {
  text-align: right;
}
.table-container .table-content table.head-values tr:nth-of-type(1),
.table-container .table-content table.head-values tr:nth-of-type(2) {
  font-weight: bold;
}
.table-container .table-content table.table-locations {
  font-size: 13px;
}
.table-container .table-content table.table-locations tr {
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 0 #ddd;
}
.table-container .table-content table.table-locations tr:first-of-type {
  color: #8c9094;
  border: none;
}
.table-container .table-content table.table-locations tr:first-of-type td {
  border-top: 0px;
}
.table-container .table-content table.table-locations tr:last-of-type {
  box-shadow: 0 0px 0 #ddd;
}
.table-container .table-content table.table-locations td {
  padding: 20px;
  border-top: 1px solid #ddd;
}
.accordian-container .accordian {
  margin-bottom: 30px;
}
.accordian-container .accordian .accordian-header {
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 12px 30px;
  font-size: 16px;
}
.accordian-container .accordian .accordian-header .fa-plus:before {
  color: #212529 !important;
}
.accordian-container .accordian .accordian-content {
  border: 1px solid #ddd;
  border-top: 0;
}
table.head-values,
table.content-values {
  font-size: 13px;
}
table.head-values td,
table.content-values td {
  border-top: 0px;
  padding: 10px 15px 0;
}
table.head-values td:nth-of-type(2),
table.content-values td:nth-of-type(2) {
  text-align: right;
}
table.head-values tr:nth-of-type(1),
table.head-values tr:nth-of-type(2) {
  font-weight: bold;
}
table.table-locations {
  font-size: 13px;
}
table.table-locations thead tr {
  color: #8c9094;
  border-top: 0px;
}
table.table-locations thead tr td:nth-of-type(2) {
  word-break: keep-all;
}
table.table-locations td {
  padding: 20px;
}
table.table-locations tr td:nth-of-type(2) {
  word-break: break-all;
}
