.side-field-set {
  margin-top: 23px;
  border-radius: 0;
  padding: 20px;
}
.side-field-set textarea {
  border: solid 2px #babcbf;
  width: 100%;
  height: 200px;
}
.side-field-set span {
  font-size: 12px;
}
