.dashboard-container ul#pills-tab-dashboard {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px !important;
}
.dashboard-container ul#pills-tab-dashboard li {
  margin-right: 30px;
}
.dashboard-container ul#pills-tab-dashboard li a {
  padding: 0;
  padding-bottom: 16px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #272b2e;
  position: relative;
}
.dashboard-container ul#pills-tab-dashboard li a.active {
  background: white;
  border-radius: 0;
  border-bottom: 4px solid #00b4dc;
}
.dashboard-container ul#pills-tab-dashboard li a span.notification {
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 0px 6px 0px;
  font-size: 12px;
  margin-top: -8px;
  position: absolute;
  top: 12px;
  right: -23px;
}
.dashboard-container .tab-content #pills-quotes .btn-filter {
  padding: 6px 10px;
}
.dashboard-container .tab-content #pills-quotes .btn-filter i {
  font-size: 24px;
}
.dashboard-container .tab-content .filter-row {
  background: #f2f2f2;
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;
}
.dashboard-container .tab-content .filter-row div {
  display: inline-block;
}
.dashboard-container .tab-content .filter-row .filter-title {
  font-weight: bold;
  font-size: 16px;
}
.dashboard-container .tab-content .filter-row .filter-group {
  margin: 0 10px;
  font-size: 13px;
}
.dashboard-container .tab-content .filter-row .badge.badge-primary {
  border: solid 1px #babcbf;
  border-radius: 5px;
  padding: 7px 10px;
  background: white;
  color: #272b2e;
  font-size: 13px;
  font-weight: normal;
}
.dashboard-container .tab-content .filter-row .badge.badge-primary .times {
  position: relative;
  top: 3px;
  font-size: 22px;
  line-height: 0;
}
.dashboard-container .tab-content .filter-row .remove a {
  font-size: 13px;
  cursor: pointer;
}
.dashboard-container .table-container {
  margin-top: 15px;
}
.dashboard-container .table-container #table_quotes_wrapper,
.dashboard-container .table-container #table_due_soon_wrapper {
  padding: 0;
}
.dashboard-container .table-container table#table_quotes,
.dashboard-container .table-container table#table_due_soon {
  font-size: 13px;
  border: 1px solid #ccc;
  width: 100% !important;
}
.dashboard-container .table-container table#table_quotes thead th,
.dashboard-container .table-container table#table_due_soon thead th {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #5d6166;
}
.dashboard-container .table-container table#table_quotes thead th.radio:before,
.dashboard-container .table-container table#table_due_soon thead th.radio:before,
.dashboard-container .table-container table#table_quotes thead th.radio:after,
.dashboard-container .table-container table#table_due_soon thead th.radio:after {
  content: '';
}
.dashboard-container .table-container table#table_quotes thead th:first-of-type,
.dashboard-container .table-container table#table_due_soon thead th:first-of-type {
  border-left: 0px solid #ccc;
}
.dashboard-container .table-container table#table_quotes thead th:last-of-type,
.dashboard-container .table-container table#table_due_soon thead th:last-of-type {
  border-right: 0px solid #ccc;
}
.dashboard-container .table-container table#table_quotes tbody tr,
.dashboard-container .table-container table#table_due_soon tbody tr {
  color: #272b2e;
}
.dashboard-container .table-container table#table_quotes tbody td,
.dashboard-container .table-container table#table_due_soon tbody td {
  border-color: #dee2e6;
}
.dashboard-container .table-container table#table_quotes tbody td label.check-container,
.dashboard-container .table-container table#table_due_soon tbody td label.check-container {
  padding-left: 0;
  margin-right: 0px;
}
.dashboard-container .table-container table#table_quotes tbody td span.red,
.dashboard-container .table-container table#table_due_soon tbody td span.red {
  color: red;
}
.dashboard-container .table-container .dataTables_info {
  font-size: 13px;
  text-align: right;
  width: 100%;
}
.dashboard-container .table-container .dataTables_length {
  font-size: 13px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination {
  font-size: 13px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li {
  border: none !important;
  padding: 0px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li a {
  border: none !important;
  color: #00b4dc;
  padding: .5rem 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li a:focus {
  border: none;
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.disabled a {
  color: #6c757d;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.previous a i {
  margin-right: 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.previous a:hover {
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.next a i {
  margin-left: 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.next a:hover {
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.active:hover {
  background: #ddd;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.active a {
  background: none;
  color: black;
}
#filterModal .checkbox-container {
  display: inline-block;
  width: 25%;
}
#filterModal select.form-control {
  height: inherit;
  padding: 7px;
}
#filterModal .buttons-container button {
  margin-right: 10px;
}
