//dashboard.less
@import "./components/variables";
//@import "./components/common";

.dashboard-container {
    ul#pills-tab-dashboard {
        border-bottom: 1px solid @border-color;
        margin-bottom: 30px !important;

        li {
            margin-right: 30px;

            a {
                padding: 0;
                padding-bottom: 16px;
                font-size: 18px;
                text-transform: uppercase;
                text-align: left;
                color: #272b2e;
                position: relative;

                &.active {
                    background: white;
                    border-radius: 0;
                    border-bottom: 4px solid @blue-border;
                }

                span.notification {
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                    padding: 0px 6px 0px;
                    font-size: 12px;
                    margin-top: -8px;
                    position: absolute;
                    top: 12px;
                    right: -23px;
                }
            }
        }
    }

    .tab-content {
        #pills-quotes {
            .btn-filter {
                padding: 6px 10px;

                i {
                    font-size: 24px;
                }
            }
        }

        .filter-row {
            background: @grey-08;
            padding: 10px 0;
            margin: 0;
            margin-bottom: 20px;

            div {
                display: inline-block;
            }

            .filter-title {
                font-weight: bold;
                font-size: 16px;
            }

            .filter-group {
                margin: 0 10px;
                font-size: 13px;
            }

            .badge {
                &.badge-primary {
                    border: solid 1px #babcbf;
                    border-radius: 5px;
                    padding: 7px 10px;
                    background: white;
                    color: @munich-re-dark-grey;
                    font-size: 13px;
                    font-weight: normal;

                    .times {
                        position: relative;
                        top: 3px;
                        font-size: 22px;
                        line-height: 0;
                    }
                }
            }

            .remove {
                a {
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
    }



    .table-container {
        margin-top: 15px;

        #table_quotes_wrapper, #table_due_soon_wrapper {
            padding: 0;
        }

        table#table_quotes, table#table_due_soon {
            font-size: 13px;
            border: 1px solid #ccc;
            width: 100% !important;

            thead {
                th {
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    background-color: #5d6166;
                    &.radio{
                        &:before, &:after{
                            content: '';
                        }
                    }
                    &:first-of-type {
                        border-left: 0px solid #ccc;
                    }

                    &:last-of-type {
                        border-right: 0px solid #ccc;
                    }
                }
            }

            tbody {
                tr {
                    color: #272b2e;
                }

                td {
                    border-color: #dee2e6;
                    label.check-container{
                        padding-left:0;
                        margin-right: 0px;
                    }
                    span.red{
                        color: red;
                    }
                }
            }
        }

        .dataTables_info {
            font-size: 13px;
            text-align: right;
            width: 100%;
        }

        .dataTables_length {
            font-size: 13px;
        }

        .bottom {
            .dataTables_length, .dataTables_info, .dataTables_paginate {
                //display: inline-block;
            }

            .dataTables_length {
            }

            .dataTables_info {
            }

            .dataTables_paginate {
            }
        }

        .dataTables_paginate {
            ul.pagination {
                font-size: 13px;

                li {
                    border: none !important;
                    padding: 0px;

                    a {
                        border: none !important;
                        color: @a-link;
                        padding: .5rem 10px;

                        &:focus {
                            border: none;
                            border-radius: 0;
                        }
                    }

                    &.disabled {
                        a {
                            color: #6c757d;
                        }
                    }

                    &.previous {
                        a {
                            i {
                                margin-right: 10px;
                            }

                            &:hover {
                                border-radius: 0;
                            }
                        }
                    }

                    &.next {
                        a {
                            i {
                                margin-left: 10px;
                            }

                            &:hover {
                                border-radius: 0;
                            }
                        }
                    }

                    &.active {
                        &:hover {
                            background: #ddd;
                        }

                        a {
                            background: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

#filterModal, #filterModal2 {
    .modal-dialog {
        max-width: 1000px;
        padding: 30px;
    }

    .filter-modal-body {
        padding: 30px;
    }

    .checkbox-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
    }

    .filter-holder {
        margin-top: 30px;
        margin-bottom: 20px;

        p {
            color: #272b2e;
            font-size: 16px;
        }

        .filters-check {
            min-height: 255px;
            min-width: 178px;
            padding: 20px 0px 0 20px;
            background: #f9f9f9;
            overflow-y: scroll;
            border: 1px solid #e6e6e6;
        }
    }

    select.form-control {
        height: inherit;
        padding: 7px;
    }

    .buttons-container {
        button {
            margin-right: 10px;
        }
    }
}