.dashboard-container ul#pills-tab-dashboard {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px !important;
}
.dashboard-container ul#pills-tab-dashboard li {
  margin-right: 30px;
}
.dashboard-container ul#pills-tab-dashboard li a {
  padding: 0;
  padding-bottom: 16px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #272b2e;
  position: relative;
}
.dashboard-container ul#pills-tab-dashboard li a.active {
  background: white;
  border-radius: 0;
  border-bottom: 4px solid #00b4dc;
}
.dashboard-container ul#pills-tab-dashboard li a span.notification {
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 0px 6px 0px;
  font-size: 12px;
  margin-top: -8px;
  position: absolute;
  top: 12px;
  right: -23px;
}
.dashboard-container .tab-content #pills-quotes .btn-filter {
  padding: 6px 10px;
}
.dashboard-container .tab-content #pills-quotes .btn-filter i {
  font-size: 24px;
}
.dashboard-container .tab-content .search-label .label {
  font-size: 13px;
  margin-bottom: 10px;
  color: #8c9094;
}
.dashboard-container .tab-content .select-search-opt {
  width: 30%;
  margin-bottom: 0;
}
.dashboard-container .tab-content .select-search-opt select {
  padding-bottom: 11px;
  height: inherit;
  border-right: 0;
}
.dashboard-container .tab-content .search-box-quote {
  width: 70%;
}
.dashboard-container .tab-content .filter-row {
  background: #f2f2f2;
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;
}
.dashboard-container .tab-content .filter-row div {
  display: inline-block;
}
.dashboard-container .tab-content .filter-row .filter-title {
  font-weight: bold;
  font-size: 16px;
}
.dashboard-container .tab-content .filter-row .filter-group {
  margin: 0 10px;
  font-size: 13px;
}
.dashboard-container .tab-content .filter-row .badge.badge-primary {
  border: solid 1px #babcbf;
  border-radius: 5px;
  padding: 7px 10px;
  background: white;
  color: #272b2e;
  font-size: 13px;
  font-weight: normal;
}
.dashboard-container .tab-content .filter-row .badge.badge-primary .times {
  position: relative;
  top: 3px;
  font-size: 22px;
  line-height: 0;
}
.dashboard-container .tab-content .filter-row .remove a {
  font-size: 13px;
  cursor: pointer;
}
.dashboard-container .table-container {
  margin-top: 15px;
}
.dashboard-container .table-container #table_quotes_wrapper,
.dashboard-container .table-container #table_due_soon_wrapper {
  padding: 0;
}
.dashboard-container .table-container table#table_quotes,
.dashboard-container .table-container table#table_due_soon {
  font-size: 13px;
  border: 1px solid #ccc;
  width: 100% !important;
}
.dashboard-container .table-container table#table_quotes thead th,
.dashboard-container .table-container table#table_due_soon thead th {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #5d6166;
}
.dashboard-container .table-container table#table_quotes thead th.radio:before,
.dashboard-container .table-container table#table_due_soon thead th.radio:before,
.dashboard-container .table-container table#table_quotes thead th.radio:after,
.dashboard-container .table-container table#table_due_soon thead th.radio:after {
  content: '';
}
.dashboard-container .table-container table#table_quotes thead th:first-of-type,
.dashboard-container .table-container table#table_due_soon thead th:first-of-type {
  border-left: 0px solid #ccc;
}
.dashboard-container .table-container table#table_quotes thead th:last-of-type,
.dashboard-container .table-container table#table_due_soon thead th:last-of-type {
  border-right: 0px solid #ccc;
}
.dashboard-container .table-container table#table_quotes tbody tr,
.dashboard-container .table-container table#table_due_soon tbody tr {
  color: #272b2e;
}
.dashboard-container .table-container table#table_quotes tbody td,
.dashboard-container .table-container table#table_due_soon tbody td {
  border-color: #dee2e6;
}
.dashboard-container .table-container table#table_quotes tbody td label.check-container,
.dashboard-container .table-container table#table_due_soon tbody td label.check-container {
  padding-left: 0;
  margin-right: 0px;
}
.dashboard-container .table-container table#table_quotes tbody td span.red,
.dashboard-container .table-container table#table_due_soon tbody td span.red {
  color: red;
}
.dashboard-container .table-container .dt-paging:before {
  content: "|";
  color: #ddd;
  position: absolute;
  top: 3px;
  left: -1px;
  font-size: 22px;
}
.dashboard-container .table-container .dataTable {
  border: 1px solid #ddd !important;
}
.dashboard-container .table-container .dataTables_wrapper {
  padding: 0;
}
.dashboard-container .table-container .dataTables_info {
  font-size: 13px;
  text-align: right;
  width: 100%;
}
.dashboard-container .table-container .dataTables_info:after {
  color: #ddd;
}
.dashboard-container .table-container .dataTables_length {
  font-size: 13px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination {
  font-size: 13px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li {
  border: none !important;
  padding: 0px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li a {
  border: none !important;
  color: #00b4dc;
  padding: .5rem 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li a:focus {
  border: none;
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.disabled a {
  color: #6c757d;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.previous a i {
  margin-right: 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.previous a:hover {
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.next a i {
  margin-left: 10px;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.next a:hover {
  border-radius: 0;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.active:hover {
  background: #ddd;
}
.dashboard-container .table-container .dataTables_paginate ul.pagination li.active a {
  background: none;
  color: black;
}
.dataTable {
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
  /* The container */
}
.dataTable .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.dataTable .check-container .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 2px #babcbf;
}
.dataTable .check-container:hover input ~ .checkmark {
  border: 2px solid #00b4dc;
}
.dataTable .check-container input:checked ~ .checkmark {
  background-color: white;
  border: 2px solid #00b4dc;
}
.dataTable .check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dataTable .check-container input:checked ~ .checkmark:after {
  display: block;
}
.dataTable .check-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00b4dc;
}
.dataTable .checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#filterModal .modal-dialog,
#filterModal2 .modal-dialog {
  max-width: 1000px;
  padding: 30px;
  padding-top: 15px;
}
#filterModal .filter-modal-body,
#filterModal2 .filter-modal-body {
  padding: 30px;
}
#filterModal .checkbox-container,
#filterModal2 .checkbox-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
#filterModal .filter-holder,
#filterModal2 .filter-holder {
  margin-top: 5px;
  margin-bottom: 20px;
}
#filterModal .filter-holder p,
#filterModal2 .filter-holder p {
  color: #272b2e;
  font-size: 16px;
}
#filterModal .filter-holder .filters-check,
#filterModal2 .filter-holder .filters-check {
  min-height: 170px;
  min-width: 178px;
  padding: 20px 0px 0 20px;
  background: #f9f9f9;
  overflow-y: scroll;
  border: 1px solid #e6e6e6;
}
#filterModal select.form-control,
#filterModal2 select.form-control {
  height: inherit;
  padding: 7px;
}
#filterModal .buttons-container button,
#filterModal2 .buttons-container button {
  margin-right: 10px;
}
