//tabs.less
@import "./components/variables";
@import "./components/common";


#smartwizard {
    .tab-content {
        position: relative;

        #step-3 {
            padding: 0;

            .step-3-container {
                padding: 20px;
            }
        }

        .policy-details-header {
            margin: 0;
            background-color: @policy-header-bg;
            border-bottom: 1px solid #ddd;
            padding: 30px 30px 0px 30px;

            .col-md-4 {
                padding-bottom: 30px;
            }

            .title {
                color: @light-grey-text;
                font-size: 13px;
                padding-bottom: 10px;
            }

            .sub-title {
                font-size: 16px;
            }
        }

        .questionaire-container {
            padding-top: 20px;

            ol {
                font-size: 13px;

                .check-container {
                    font-size: 13px;

                    .checkmark {
                        top: 2px;
                    }
                }
            }

            .q-content {
                margin-left: 30px;
                font-size: 13px;

                .location-tables-section {
                    .table-risk-location {
                        width: 100%;

                        td {
                            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                                width: 15%;
                            }

                            &:nth-of-type(2) {
                                p {
                                    text-align: left;
                                }
                            }

                            p {
                                min-height: 40px;
                                color: #8c9094;
                                text-align: right;
                            }

                            input {
                                padding: 8px;
                            }

                            &.save-btn {
                                vertical-align: middle;
                            }

                            .remove-loc-grid {
                                background: none;
                                color: @a-link;
                                font-size: 13px;
                                padding: 0;
                                margin: 0;
                                &:disabled{
                                    color: @grey-03;
                                }
                            }
                        }
                    }
                }

                .add-location-btn-holder {
                    display: inline-block;
                    width: 90%;

                    button#add-loc-main {
                        margin-right: 3px;
                    }
                }

                .table-add-cost {
                    width: 95%;
                    border: none;

                    thead {
                        th {
                            border: none;
                            font-weight: normal;
                        }
                    }

                    td {
                        border: none;
                    }
                }
            }
        }
    }
}



#selectOccupancyModal{
	#selectOccupancyModalTitle{
		text-transform: uppercase;
		font-size: 18px;
	}
	.occupancy-selection{
		.title{
			font-size: 16px;
			margin-bottom: 18px;
		}
		.search-occupancy{
			input{
				border-right: 0px;
			}
			button{
				border-radius: 0;
				background: transparent;
				color: #666;				
				border: solid 2px #babcbf;
				border-left: 0;
			}
		}
		.box{
			border: 1px solid @box-border;
			padding: 0px 0;
			width: 100%;
            overflow-x: scroll;
			option{
				padding: 10px 10px;
				font-size: 13px;
			}
			&.left-box{
				min-height: 250px;
				max-height: 250px;
			}
			&.right-box{
				min-height: 196px;
				max-height: 196px;
				overflow-y: scroll;
				margin-bottom: 30px;
			}
			ul{
				list-style: none;
				padding: 0;
				li{
					padding-bottom: 15px;
					font-size: 13px;
					a{
						color: #272b2e;
						&:active, &:hover{
							color: @a-link;
						}
					}
				}
			}
		}
	}
}

#refer-quote {
    .modal-dialog {
        max-width: 350px;
        .modal-header{
            .modal-title{
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }

    .modal-footer {
        border-top: 0;

        p.text-center {
            text-align: center;
            display: block;
            width: 100%;

            .btn {
                margin-right: 20px;
            }
        }
    }
}



.create-quote-tabs {
    .header-row {
        margin-top: 20px;

        h4 {
            font-size: 18px;
            font-weight: normal;
        }
    }

    hr.seperator-quote {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .create-quote-main {
        #smartwizard {
            ul.step-anchor {
                border-bottom: 0;
                border: 0 !important;
            }
        }

        .side-field-btn{
            .btn{
                i{
                    font-size: 18px;
                }
            }
        } 
        .side-field-set {
            margin-top: 23px;
            border-radius: 0;
            padding: 20px;

            textarea {
                border: solid 2px #babcbf;
                width: 100%;
                height: 200px;
            }

            span {
                font-size: 12px;
            }

            .attachment {
                p.file-up-title{
                    font-size: 13px;
                    color: @grey-03;
                    margin-bottom: 8px;
                }
            }
        }

        .show-comments-box {
            padding: 20px;
            margin-top: 20px;
            max-height: 380px;
            overflow-y: auto;

            .comment {
                font-size: 12px;
                color: #272b2e;
                margin-bottom: 15px;

                span.name {
                    color: #8c9094;
                    font-size: 13px;
                    display: inline-block;
                    width: 100%;
                    margin-top: 5px;
                }
            }
        }
    }
}



