.sw-btn-prev,
.sw-btn-next {
  background-color: #272b2e !important;
  font-size: 16px;
  padding: 5px 30px;
  border: solid 2px #272b2e !important;
}
.btn-toolbar .btn {
  border-radius: 0px;
  position: relative;
}
.btn-toolbar .sw-btn-next,
.sw-btn-prev {
  background: #192919;
  color: white;
  border: none;
  margin-right: 20px;
}
.tab-headers {
  font-size: 16px;
}
.sw-btn-prev:hover,
.sw-btn-prev:active {
  background-color: #5cb85c;
}
.sw-main {
  border-radius: 0 !important;
  border: 0 !important;
}
.step-anchor {
  border: 1px solid #ddd !important;
  border-top-right-radius: 0px !important;
  background: white !important;
}
.step-anchor .active a.nav-link {
  background: #009245 !important;
}
.sw-btn-group {
  text-align: right;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.sw-btn-group-extra {
  width: 183px;
}
.sw-btn-group-extra .btn {
  width: 100%;
}
.sw-btn-prev,
.sw-btn-next {
  padding: 5px 0;
  width: 183px;
}
.sw-btn-next {
  margin-right: 0 !important;
}
.sw-btn-group-extra {
  padding: 0;
}
.policy-details-header {
  margin-right: -10px;
  margin-left: -10px;
}
.sw-theme-arrows > ul.step-anchor > li {
  width: 33%;
  text-align: center;
}
.sw-theme-arrows > ul.step-anchor > li.done > a {
  background-color: #009245 !important;
}
.sw-theme-arrows > ul.step-anchor > li.done > a:after {
  border-left: 30px solid #009245 !important;
}
.sw-theme-arrows > ul.step-anchor > li.active > a {
  background-color: #009245 !important;
}
.sw-theme-arrows > ul.step-anchor > li.active > a:after {
  border-left: 30px solid #009245 !important;
}
/*.sw-btn-next:after {
	border-left: 15px solid #5cb85c !important;
    content: " ";    
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: -1px;
    margin-top: 0;
    left: 100%;
    z-index: 2;
}

.sw-btn-prev:before{
	content: " ";    
    width: 0;
    height: 0;	
	top: -1px;
    margin-top: 0;
    left: -15px;
    z-index: 2;
    position: absolute;
	border-right: 15px solid #5cb85c !important;
	border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
}*/
.sw-toolbar-bottom {
  position: relative;
  margin-right: 0 !important;
  border: 1px solid #ddd;
  border-top: 0;
}
.sw-toolbar-bottom .sw-btn-group-extra {
  position: absolute;
  left: 25px;
}
.sw-theme-arrows .sw-toolbar {
  padding: 30px 30px;
}
#step-2 ol > li {
  margin-bottom: 28px;
}
#step-2 .policy-details-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ddd;
}
.side-field-set {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  font-size: 13px;
}
.side-field-set legend {
  width: 25%;
  padding: 0 5px;
  font-size: 12px;
}
#smartwizard .tab-content {
  padding: 0;
  margin-top: 25px;
  border: 1px solid #ddd;
  border-bottom: 0;
}
.sw-theme-arrows .step-content {
  padding: 30px 25px 0 25px;
}
.sw-theme-arrows .step-content#step-2 {
  padding: 0;
}
.sw-theme-arrows > ul.step-anchor > li > a:hover {
  background: #00b4dc;
  color: white;
}
.sw-theme-arrows > ul.step-anchor > li > a:hover:after {
  border-left-color: #00b4dc;
}
@media only screen and (max-width: 767px) {
  .nav .nav-tabs .step-anchor li {
    width: 100%;
  }
  .nav-item {
    width: 100%;
  }
}
#smartwizard .tab-content {
  position: relative;
}
#smartwizard .tab-content #step-3 {
  padding: 0;
}
#smartwizard .tab-content #step-3 .step-3-container {
  padding: 30px;
}
#smartwizard .tab-content #step-3 .step-3-container p {
  margin-bottom: 30px;
}
#smartwizard .tab-content #step-3 .step-3-container .pdf-bind-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}
#smartwizard .tab-content #step-3 .step-3-container .pdf-bind-section button {
  margin-left: 20px;
}
#smartwizard .tab-content #step-3 .step-3-container .pdf-bind-section button i {
  margin-right: 10px;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container {
  margin-bottom: 50px;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote {
  border-top: none;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td {
  border-top: 0px solid #ddd;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td .col-md-12 {
  padding: 15px;
  min-height: 75px;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td .col-md-12 .big-dollar {
  font-size: 20px;
  font-weight: bold;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td .col-md-12 .dollar-value {
  font-size: 30px;
  font-weight: bold;
  padding-left: 5px;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td .col-md-12 .label {
  padding-top: 10px;
  display: inline-block;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td.quote-labels {
  width: 20%;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td.quote-radio-section {
  border: 1px solid #e6e6e6;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td.quote-radio-section .form-check-inline {
  margin-right: 0;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td.quote-radio-section .form-check-inline .check-container span.checkmark {
  top: 2px;
}
#smartwizard .tab-content #step-3 .step-3-container .quotes-table-container .table-quote td.blue-border {
  box-shadow: inset 0px 0px 0px 1px #00b4dc;
}
#smartwizard .tab-content #step-3 .step-3-container .accordian-container .accordian {
  margin-bottom: 30px;
}
#smartwizard .tab-content #step-3 .step-3-container .accordian-container .accordian .accordian-header {
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 12px 30px;
  font-size: 16px;
}
#smartwizard .tab-content #step-3 .step-3-container .accordian-container .accordian .accordian-header .fa-plus:before {
  color: #212529 !important;
}
#smartwizard .tab-content #step-3 .step-3-container .accordian-container .accordian .accordian-content {
  border: 1px solid #ddd;
  border-top: 0;
}
#smartwizard .tab-content #step-3 .step-3-container table.head-values,
#smartwizard .tab-content #step-3 .step-3-container table.content-values {
  font-size: 13px;
}
#smartwizard .tab-content #step-3 .step-3-container table.head-values td,
#smartwizard .tab-content #step-3 .step-3-container table.content-values td {
  border-top: 0px;
  padding: 10px 15px 0;
}
#smartwizard .tab-content #step-3 .step-3-container table.head-values td:nth-of-type(2),
#smartwizard .tab-content #step-3 .step-3-container table.content-values td:nth-of-type(2) {
  text-align: right;
}
#smartwizard .tab-content #step-3 .step-3-container table.head-values tr:nth-of-type(1),
#smartwizard .tab-content #step-3 .step-3-container table.head-values tr:nth-of-type(2) {
  font-weight: bold;
}
#smartwizard .tab-content #step-3 .step-3-container table.table-locations {
  font-size: 13px;
}
#smartwizard .tab-content #step-3 .step-3-container table.table-locations tr:first-of-type {
  color: #8c9094;
}
#smartwizard .tab-content #step-3 .step-3-container table.table-locations tr:first-of-type td {
  border-top: 0px;
}
#smartwizard .tab-content #step-3 .step-3-container table.table-locations td {
  padding: 20px;
}
#smartwizard .tab-content .policy-details-header {
  margin: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 30px 30px 0px 30px;
}
#smartwizard .tab-content .policy-details-header .col-md-4 {
  padding-bottom: 30px;
}
#smartwizard .tab-content .policy-details-header .title {
  color: #8c9094;
  font-size: 13px;
  padding-bottom: 10px;
}
#smartwizard .tab-content .policy-details-header .sub-title {
  font-size: 16px;
}
#smartwizard .tab-content .questionaire-container {
  padding-top: 20px;
}
#smartwizard .tab-content .questionaire-container ol {
  font-size: 13px;
}
#smartwizard .tab-content .questionaire-container ol .check-container {
  font-size: 13px;
}
#smartwizard .tab-content .questionaire-container ol .check-container .checkmark {
  top: 2px;
}
#smartwizard .tab-content .questionaire-container ol li {
  margin-bottom: 15px;
}
#smartwizard .tab-content .questionaire-container ol li:last-of-type {
  margin-bottom: 0;
}
#smartwizard .tab-content .questionaire-container .q-content {
  margin-left: 10px;
  font-size: 13px;
}
#smartwizard .tab-content .questionaire-container .q-content .sel-occ-input {
  position: relative;
  width: 95%;
}
#smartwizard .tab-content .questionaire-container .q-content .sel-occ-input .occ-modal-trigger {
  position: absolute;
  top: 0;
  right: 10px;
}
#smartwizard .tab-content .questionaire-container .q-content .sel-occ-input .occ-modal-trigger:active,
#smartwizard .tab-content .questionaire-container .q-content .sel-occ-input .occ-modal-trigger:focus {
  border: none;
  box-shadow: none;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location {
  width: 100%;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(3),
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(4),
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(5) {
  width: 15%;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(3) .col-sm-8,
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(4) .col-sm-8,
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(5) .col-sm-8 {
  padding-right: 8px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:nth-of-type(2) p {
  text-align: left;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:last-of-type {
  padding: 5px !important;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td:last-of-type button {
  padding: 9px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td p {
  min-height: 40px;
  color: #8c9094;
  text-align: right;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td input {
  padding: 8px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td.save-btn {
  vertical-align: middle;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td .remove-loc-grid {
  background: url('../images/delete-active.svg') !important;
  color: #00b4dc;
  font-size: 13px;
  padding: 0;
  margin: 0;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location td .remove-loc-grid:disabled {
  color: #8c9094;
  background: url('../images/delete-inactive.svg') !important;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td p {
  min-height: 40px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(1) {
  width: 5%;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(2) input {
  height: 100px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(3),
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(4) {
  width: 15%;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(3) .col-sm-8,
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(4) .col-sm-8 {
  padding-right: 8px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:nth-of-type(5) {
  width: 23%;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:last-of-type button.alt-remove-loc-grid {
  background: url('../images/delete-active.svg');
  padding: 9px;
  font-size: 20px;
}
#smartwizard .tab-content .questionaire-container .q-content .location-tables-section .table-risk-location.alt-table td:last-of-type button.alt-remove-loc-grid:disabled {
  background: url('../images/delete-active.svg');
}
#smartwizard .tab-content .questionaire-container .q-content .add-location-btn-holder {
  display: inline-block;
  width: 97%;
}
#smartwizard .tab-content .questionaire-container .q-content .add-location-btn-holder button#add-loc-main {
  margin-right: 3px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section {
  margin-left: 10px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location {
  width: 100%;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td {
  padding: 7px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(3),
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(4),
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(5) {
  width: 15%;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(3) .col-sm-8,
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(4) .col-sm-8,
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(5) .col-sm-8 {
  padding-right: 8px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:nth-of-type(2) p {
  text-align: left;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:last-of-type {
  padding: 5px !important;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td:last-of-type button {
  padding: 9px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td p {
  min-height: 40px;
  color: #8c9094;
  text-align: right;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td input {
  padding: 8px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td textarea {
  min-height: 39px;
  height: 39px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td.save-btn {
  vertical-align: middle;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td .remove-loc-grid {
  background: url('../images/delete-active.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
  color: #00b4dc;
  font-size: 13px;
  padding: 10px;
  margin: 0;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location td .remove-loc-grid:disabled {
  background: url('../images/delete-inactive.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
  color: #8c9094;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td p {
  min-height: 0;
  margin-bottom: 10px;
  text-align: left !important;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(1) {
  width: 5%;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(2) input {
  height: 100px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(3),
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(4) {
  width: 15%;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(3) .col-sm-8,
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(4) .col-sm-8 {
  padding-right: 8px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:nth-of-type(5) {
  width: 23%;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:last-of-type button.alt-remove-loc-grid {
  padding: 10px 5px;
  font-size: 20px;
}
#smartwizard .tab-content .questionaire-container .location-tables-section .table-risk-location.alt-table td:last-of-type button.alt-remove-loc-grid:focus {
  border: none;
  box-shadow: none;
}
#smartwizard .tab-content .questionaire-container .add-location-btn-holder {
  display: inline-block;
  width: 95%;
  margin-bottom: 20px;
}
#smartwizard .tab-content .questionaire-container .add-location-btn-holder button#add-loc-main {
  margin-right: 3px;
}
#smartwizard .tab-content .questionaire-container .additional-cost-list {
  overflow: auto;
  padding-left: 10px;
}
#smartwizard .tab-content .questionaire-container .additional-cost-list li {
  float: left;
  list-style: lower-alpha;
  margin-right: 25px;
  list-style-position: inside;
}
#smartwizard .tab-content .questionaire-container .additional-cost-list li input {
  margin-top: 15px;
}
#smartwizard .tab-content .questionaire-container .table-add-cost {
  width: 95%;
  border: none;
  margin-left: 15px;
}
#smartwizard .tab-content .questionaire-container .table-add-cost thead th {
  border: none;
  font-weight: normal;
}
#smartwizard .tab-content .questionaire-container .table-add-cost td {
  border: none;
}
#selectOccupancyModal #selectOccupancyModalTitle {
  text-transform: uppercase;
  font-size: 18px;
}
#selectOccupancyModal .occupancy-selection .title {
  font-size: 16px;
  margin-bottom: 18px;
}
#selectOccupancyModal .occupancy-selection .search-occupancy input {
  border-right: 0px;
}
#selectOccupancyModal .occupancy-selection .search-occupancy button {
  border-radius: 0;
  background: transparent;
  color: #666;
  border: solid 2px #babcbf;
  border-left: 0;
}
#selectOccupancyModal .occupancy-selection .box {
  border: 1px solid #e6e6e6;
  padding: 0px 0;
  width: 100%;
  overflow-x: scroll;
}
#selectOccupancyModal .occupancy-selection .box option {
  padding: 10px 10px;
  font-size: 13px;
}
#selectOccupancyModal .occupancy-selection .box.left-box {
  min-height: 250px;
  max-height: 250px;
}
#selectOccupancyModal .occupancy-selection .box.right-box {
  min-height: 196px;
  max-height: 196px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
#selectOccupancyModal .occupancy-selection .box ul {
  list-style: none;
  padding: 0;
}
#selectOccupancyModal .occupancy-selection .box ul li {
  padding-bottom: 15px;
  font-size: 13px;
}
#selectOccupancyModal .occupancy-selection .box ul li a {
  color: #272b2e;
}
#selectOccupancyModal .occupancy-selection .box ul li a:active,
#selectOccupancyModal .occupancy-selection .box ul li a:hover {
  color: #00b4dc;
}
#refer-quote .modal-dialog {
  max-width: 350px;
}
#refer-quote .modal-dialog .modal-header .modal-title {
  font-size: 18px;
  text-transform: uppercase;
}
#refer-quote .modal-footer {
  border-top: 0;
}
#refer-quote .modal-footer p.text-center {
  text-align: center;
  display: block;
  width: 100%;
}
#refer-quote .modal-footer p.text-center .btn {
  margin-right: 20px;
}
.columncontainer .referthisquote .btn,
.columncontainer .livechat .btn {
  width: 100% !important;
  padding: 7px 0 !important;
  text-align: center;
}
.columncontainer .referthisquote .btn i,
.columncontainer .livechat .btn i {
  font-size: 18px;
}
hr.seperator-quote {
  margin-bottom: 30px;
  margin-top: 10px;
}
.create-quote-tabs .header-row {
  margin-top: 20px;
}
.create-quote-tabs .header-row h4 {
  font-size: 18px;
  font-weight: normal;
}
.create-quote-tabs .create-quote-main #smartwizard ul.step-anchor {
  border-bottom: 0;
  border: 0 !important;
}
.create-quote-tabs .create-quote-main .side-field-btn .btn {
  width: 100% !important;
  padding: 7px 0 !important;
  text-align: center;
}
.create-quote-tabs .create-quote-main .side-field-btn .btn i {
  font-size: 18px;
}
.create-quote-tabs .create-quote-main .side-field-set {
  margin-top: 23px;
  border-radius: 0;
  padding: 20px;
}
.create-quote-tabs .create-quote-main .side-field-set textarea {
  border: solid 2px #babcbf;
  width: 100%;
  height: 200px;
}
.create-quote-tabs .create-quote-main .side-field-set span {
  font-size: 12px;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container {
  margin-bottom: 20px;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container section {
  display: inline-block;
  color: #00b4dc;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container section.file {
  width: 49%;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container section.file i {
  font-size: 18px;
  padding-right: 15px;
  color: black;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container section.remove-file {
  width: 29%;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment-container section.remove-file i {
  color: #8c9094;
  padding-right: 10px;
}
.create-quote-tabs .create-quote-main .side-field-set .attachment p.file-up-title {
  font-size: 13px;
  color: #8c9094;
  margin-bottom: 8px;
}
.create-quote-tabs .create-quote-main .show-comments-box {
  padding: 20px;
  margin-top: 20px;
  max-height: 380px;
  overflow-y: auto;
}
.create-quote-tabs .create-quote-main .show-comments-box .comment {
  font-size: 12px;
  color: #272b2e;
  margin-bottom: 15px;
}
.create-quote-tabs .create-quote-main .show-comments-box .comment span.name {
  color: #8c9094;
  font-size: 13px;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  #smartwizard .q-content .location-tables-section {
    overflow-x: scroll;
    max-width: 500px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location {
    width: 100%;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(3),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(4),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(5) {
    width: 17% !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .no-pad {
    padding-right: 15px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .form-control {
    padding: 0;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td p {
    font-size: 13px;
    min-height: 25px !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .remove-loc-grid {
    font-size: 11px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location thead .row {
    font-size: 13px;
  }
  #smartwizard .q-content .add-location-btn-holder {
    width: 83% !important;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  #smartwizard .q-content .location-tables-section {
    overflow-x: scroll;
    max-width: 500px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location {
    width: 100%;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(3),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(4),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(5) {
    width: 17% !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .no-pad {
    padding-right: 15px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .form-control {
    padding: 0;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td p {
    font-size: 13px;
    min-height: 25px !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .remove-loc-grid {
    font-size: 11px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location thead .row {
    font-size: 13px;
  }
  #smartwizard .q-content .add-location-btn-holder {
    width: 83% !important;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  #smartwizard .q-content .location-tables-section {
    overflow-x: scroll;
    max-width: 500px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location {
    width: 500px !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(3),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(4),
  #smartwizard .q-content .location-tables-section .table-risk-location td:nth-of-type(5) {
    width: 17% !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .no-pad {
    padding-right: 15px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .form-control {
    padding: 0;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td p {
    font-size: 13px;
    min-height: 25px !important;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location td .remove-loc-grid {
    font-size: 11px;
  }
  #smartwizard .q-content .location-tables-section .table-risk-location thead .row {
    font-size: 13px;
  }
  #smartwizard .q-content .add-location-btn-holder {
    width: 95% !important;
  }
}
