<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/master.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </head>
    <body>
        <section class="breadcrumb-section">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a><i class="fa fa-chevron-right" aria-hidden="true"></i> </li>
                    <li><a href="#">CCRT</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> </li>
                    <li><a>Dashboard</a></li>

                </ul>
            </div>
        </section>
        <div id="appDashboard">            
            <div class="container dashboard-container">
                <ul class="nav nav-pills mb-3" id="pills-tab-dashboard" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-quotes-tab" data-toggle="pill" href="#pills-quotes" role="tab" aria-controls="pills-quotes" aria-selected="true">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-due-tab" data-toggle="pill"
                           href="#pills-due" role="tab" aria-controls="pills-due"
                           aria-selected="false">
                            Due Soon 
                            <!-- <span class="notification">5</span> -->
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-admin-tab" data-toggle="pill" href="#pills-admin" role="tab" aria-controls="pills-admin" aria-selected="false">
                            Admin                            
                        </a>                    
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-quotes" role="tabpanel" aria-labelledby="pills-quotes-tab">

                        <div class="row">
                            <div class="col-md-12 search-label">
                                <p class="label">
                                    Search By
                                </p>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group mb-3">
                                    <div class="form-group select-search-opt">
                                        
                                        <select class="form-control select-product required" required="required" id="select-search-opt">
                                            <option value=""></option>
                                            <option value="2">Equipment Break Down</option>
                                            <option value="3">Course of Construction</option>
                                        </select>
                                    </div>
                                    <div class="input-group search search-box-quote">
                                        <input type="text" class="form-control" id="searchTable" placeholder="Search by Quote No./ Insured Name/Broker Name/Created By">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-filter">
                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="btn btn-primary">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    Live Chat
                                </button>
                            </div>
                        </div>
                        <div class="row filter-row d-none" id="filterApp">
                            <div class="col-md-12">
                                <div class="filter-title">Filters:</div>
                                <div class="filter-group" id="status">
                                    
                                </div>
                                <div class="filter-group" id="brokerName">
                                    
                                </div>
                                <div class="remove" id="removeFilters"><a href="">Remove all</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button id="createQuote" class="btn btn-primary">Create Quote</button>
                                <button id="copyQuote" class="btn btn-primary copy d-none">Copy Quote</button>
                                <button id="closeQuote" class="btn btn-primary copy d-none">Close Quote</button>
                            </div>
                            
                        </div>

                        <div class="table-container">
                            <table id="table_quotes" class="table table-bordered table-dark display">
                                <thead>
                                    <tr>
                                        <th class="radio"></th>
                                        <th>Quote No.</th>
                                        <th>Insured Name</th>
                                        <th>Last Modified</th>
                                        <th>Expires (Days)</th>
                                        <th>Broker Name</th>
                                        <th>Product Type</th>
                                        <th>Premium</th>
                                        <th>Status</th>
                                        <th>Created By</th>

                                    </tr>
                                </thead>
                                <!--<tbody>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                        </tbody>-->
                            </table>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="pills-due" role="tabpanel" aria-labelledby="pills-due-tab">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group mb-3">
                                    <div class="input-group search">
                                        <input type="text" class="form-control" id="searchTable" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-filter">
                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="btn btn-primary">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    Live Chat
                                </button>
                            </div>
                        </div>
                        <div class="row filter-row" id="filterApp" >
                            <div class="col-md-12">
                                <div class="filter-title">Filters:</div>
                                <div class="filter-group">
                                    
                                </div>
                                <div class="filter-group">
                                    
                                </div>
                                <div class="remove"><a href="">Remove all</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary">Create Quote</button>
                            </div>
                            <div class="col-md-3 no-pad">
                                <button class="btn btn-primary copy-due d-none">Copy</button>
                            </div>
                        </div>

                        <div class="table-container">
                            <table id="table_due_soon" class="table table-bordered table-dark display">
                                <thead>
                                    <tr>
                                        <th class="radio"></th>
                                        <th>Quote No</th>
                                        <th>Insured Name</th>
                                        <th>Expiring Days</th>
                                        <th>Status</th>
                                        <th>Created By</th>
                                        <th>CC Ref</th>
                                        <th>Broker Name</th>
                                        <th>Broker Postal</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab">
                        <div class="admin-part-1">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group mb-3">
                                        <div class="input-group search">
                                            <input type="text" class="form-control" id="searchTableGroup" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-md-5 text-right">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        Live Chat
                                    </button>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="assign-group-btn">Assign Group</button>
                                </div>
                            </div>
                            <div class="table-container">
                                <table id="tableGroups" class="table table-bordered table-dark display">
                                    <thead>
                                        <tr>
                                            <th class="radio"></th>
                                            <th>Program Name</th>
                                            <th>Product Type</th>
                                            <th>Status</th>
                                            <th>Created On</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="admin-part-2 d-none">
                            <div class="row">
                                <div class="col-md-7">
                                    <button type="button" class="btn btn-light btn-assign">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-assign">Assign</button>
                                </div>
                                
                                <div class="col-md-5 text-right">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        Live Chat
                                    </button>
                                </div>
                            </div>
                            <div class="admin-details">
                                <div class="col-md-12 hr"></div>
                                <div class="row admin-details-content">
                                    <!-- <div class="col-md-12 hr"></div> -->
                                    <!-- <hr> -->
                                    <div class="col-md-2">
                                        <div class="title">Hello</div>
                                        <div class="sub-title">World</div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="title">Hello</div>
                                        <div class="sub-title">World</div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="title">Hello</div>
                                        <div class="sub-title">World</div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="title">Hello</div>
                                        <div class="sub-title">World</div>
                                    </div>
                                    <!-- <hr> -->
                                    <!-- <div class="col-md-12 hr"></div> -->
                                
                                </div>
                                <div class="col-md-12 hr"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 label">
                                    Assign Groups to Program
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group search">
                                            
                                            <input type="text" class="form-control" id="searchGroup" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-checks">
                                <div class="row">
                                    <div class="col-md-3 input-checks">
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-3 input-checks">
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-3 input-checks">
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-3 input-checks">
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox-container">
                                            Group Name
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>                               
                                
                            </div>
                            <div class="hr"></div>
                            <div class="row btn-group-assign">
                                <div class="col-md-7">
                                    <button type="button" class="btn btn-light btn-assign">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-assign">Assign</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            <!-- Modal Filter1 -->
            <div class="modal" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" id="filterApp">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModalTitle">Filter Search Results By </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body filter-modal-body">

                            <form action="/" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="quoteNo">Email address</label>
                                                    <input type="text" class="form-control" id="quoteNo">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="dcFrom">Date Created</label>
                                                    <input type="date" class="form-control" id="dcFrom">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="dcTo"> &nbsp;</label>
                                                    <input type="date" class="form-control" id="dcTo">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="lastMod">Last modified date</label>
                                                    <input type="text" class="form-control" id="lastMod">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox-container">
                                                    Draft
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="checkbox-container">
                                                    Quoted
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="checkbox-container">
                                                    Bound
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox-container">
                                                    Referred
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="checkbox-container">
                                                    Expired
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product-type">Product Type</label>
                                            <select class="form-control product-type required" required="required" id="product-type">
                                                <option value=""></option>
                                                <option value="2">Equipment Break Down</option>
                                                <option value="3">Course of Construction</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="insuredName">Insured Name</label>
                                            <input type="text" class="form-control" id="insuredName">
                                        </div>
                                        <div class="form-group">
                                            <label for="brokerName">Broker Name</label>
                                            <input type="text" class="form-control" id="brokerName">
                                        </div>
                                        <div class="form-group">
                                            <label for="createdBy">Created By</label>
                                            <input type="text" class="form-control" id="createdBy">
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-left buttons-container">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button id="applyFilters" class="btn btn-primary">Apply</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal Filter2 -->
            <div class="modal" id="filterModal2" tabindex="-1" role="dialog" aria-labelledby="filterModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" id="filter2App">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModal2Title">Filter Search Results By </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body filter-modal-body">

                            <form action="/" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">                                            
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="dcFrom">From Date</label>
                                                    <input type="date" class="form-control" v-model="filter.date.dcFrom" id="dcFrom">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="dcTo">To Date</label>
                                                    <input type="date" class="form-control" v-model="filter.date.dcTo" id="dcTo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product-type">Group</label>
                                            <select class="form-control product-type required" v-model="filter.prodType" required="required" id="product-type">
                                                <option value=""></option>
                                                <option value="2">Equipment Break Down</option>
                                                <option value="3">Course of Construction</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3 filter-holder">
                                                <p>
                                                    Product Type
                                                </p>
                                                <div class="filters-check">
                                                    <label class="checkbox-container">
                                                        Equipment Breakdown
                                                        <input type="checkbox" v-model="filter.prodTypeArr.equipBreak">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Course of Construction
                                                        <input type="checkbox" v-model="filter.prodTypeArr.courseConst">
                                                        <span class="checkmark"></span>
                                                    </label>                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3 filter-holder">
                                                <p>
                                                    Status
                                                </p>
                                                <div class="filters-check">
                                                    <label class="checkbox-container">
                                                        Draft
                                                        <input type="checkbox" name="status" value="draft">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Quoted
                                                        <input type="checkbox" name="status" value="quoted">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Referred
                                                        <input type="checkbox" name="status" value="referred">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Expired
                                                        <input type="checkbox" name="status" value="expired">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Closed
                                                        <input type="checkbox" name="status" value="closed">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 filter-holder">
                                                <p>
                                                    Broker Name
                                                </p>
                                                <div class="filters-check">
                                                    <label class="checkbox-container">
                                                        Aivee
                                                        <input type="checkbox" name="bname" value="Aivee">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Dynava
                                                        <input type="checkbox" name="bname" value="Dynava">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Browsedrive
                                                        <input type="checkbox" name="bname" value="Browsedrive">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        Realfire
                                                        <input type="checkbox" name="bname" value="Realfire">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 filter-holder">
                                                <p>
                                                    Created By
                                                </p>
                                                <div class="filters-check">
                                                    <label class="checkbox-container">
                                                        James Sheehan
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        James Sheehan
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        James Sheehan
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="checkbox-container">
                                                        James Sheehan
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-left buttons-container">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button id="applyFilters" data-dismiss="modal" class="btn btn-primary">Apply</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/plugins/jquery.smartWizard.js"></script>
        <script type="text/javascript" src="js/plugins/mustache.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="js/plugins/jquery.validate.js"></script>
        <script type="text/javascript" src="js/plugins/additional-methods.js"></script>
        <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
        <!--<script src="js/plugins/lodash.js"></script>-->
        <script src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.min.js"></script>
        <script type="text/javascript" src="js/plugins/dataTables.bootstrap4.min.js"></script>    
        <script type="text/javascript" src="js/dashboard-quotes.js"></script>
        
    </body>
</html>