@import "modal";
@import "fontawesome";
@import "tables";
@import "variables";

body, html{
	//font-family: Arial !important;
}

div {
    word-wrap: break-word;
}

.small-font{
    font-size: 13px !important;
}

.v-align-mid, span.dollar {
    display: inline-block;
    padding-top: 7px;
}

.vertical-align-mid{
    vertical-align: middle !important;
}

.dis-block{
    display: block;
}

.container{
    font-family: "Munich Re Sans 2017 Web";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.form-group label.error {
    color: red;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.form-control {
    &:focus {
        border-color: @a-link;
        box-shadow: 0 0 0 0.1px @a-link;
    }
}

select.error, input.error {
    border-color: #dc3545;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
        //box-shadow: 0 0 0 2px @munich-re-petrol;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../images/select-date.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    transform: translateX(-2%);
}

.currency{
    background: url('dropdown-arrow-down.svg') no-repeat right;
    background-position-x: 96%;
    background-color: white;
    
    &:read-only{
        background-color: white !important;
    }
}

.dropdown-menu {
    width: 100%;
    a{
        &:hover{
            background: @a-link;
            color: white;
        }
    }
}

.error{
    color: red;
}

.no-border{
    border: none !important;
}

.bg-white{
    background: #fff;
}

// .container{
//     max-width: 1200px;
// }

// @media (min-width: 1200px){
//     .container {
//         //max-width: 90%;
//     }    
// }

// @media (min-width: 768px){
//     .container {
//         max-width: 1200px;
//     }
// }

.search {
    input {
        border-right: 0px;
    }
    button {
        border-radius: 0;
        background: transparent;
        color: #666;
        border: solid 2px #babcbf;
        border-left: 0;
        padding: 10px;
    }
}

select {
    padding-right: 25px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('dropdown-arrow-down.svg') no-repeat right #ddd;
    background-position-x: 95%;
    //background-origin: content-box;
    option{
        padding: 10px;
    }
}
select:active, select:hover {
    //background: none;
    //color: @a-link;
}



/*select option:hover {
    //color: #000;
    //box-shadow: inset 20px 20px #00f;
}*/
/*select::after {
    //content: '>';
    //font: normal normal normal 17px/1 FontAwesome;
    //color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    //border-left: 1px solid #0ebeff;
    position: absolute;
    pointer-events: none;
}*/


/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.custom-file {
    .custom-file-label {
        border: 2px solid @input-border;
        border-radius: 0;

        &:after {
            background-color: black;
            border-radius: 0;
            color: white;
            font-size: 16px;
            top: -1px;
            right: -1px;
        }
    }
}

/* The radio container */
.check-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    color: @a-link;
}

/* Hide the browser's default radio button */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.check-container .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 2px #babcbf;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    //background-color: #ccc;
    border: 2px solid @a-link;
}

.check-container input:focus ~ .checkmark {
    
    border: 2px solid @a-link;
}

/* When the radio button is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: white;
    border: 2px solid @radio-selected;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.check-container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: @radio-selected;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 13px;
    width: 13px;
    border: solid 2px #babcbf;
    background: none;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: white;
    border: 2px solid @a-link;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
    border: solid 2px #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 2px;
    top: 0px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.form-group label{
	font-size: 13px;
	color: #8c9094;
	&.error{
		color: red;
	}
}

.no-pad{
    padding: 0 !important;
}

.no-pad-left{
    padding-left: 0 !important;
}

.no-pad-right{
    padding-right: 0 !important;
}

.pad-lr-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.no-margin{
	margin: 0;
}

.margin-bt-10 {
    margin-bottom: 10px;
}

.margin-bt-15{
    margin-bottom: 15px;
}

.margin-bt-20 {
    margin-bottom: 20px;
}

.margin-bt-30 {
    margin-bottom: 30px;
}

.bold{
    font-weight: bold !important;
}

.default-border{	
  	border: solid 2px #babcbf;
}

.bg-f2{
	background-color: #f2f2f2;
}

.form-control{
	border-radius: 0;
	border: solid 2px #babcbf;
	color: #272b2e;
	font-size: 13px;
	padding-left: 5px;
}

.border-box {
    border: solid 1px #ddd;
    padding: 20px;
    margin: 20px 0;
}

.small-light-font {
    color: #8c9094;
    font-size: 13px;
}


.btn {
    &.sw-btn-next, &.sw-btn-prev {
        i {
            color: white !important;
        }

        &:hover {
            background-color: #007f92 !important;
            border: 2px solid #007f92 !important;
        }
    }

    &.btn-light {
        border: solid 2px #272b2e;
        font-size: 16px;
        padding: 6px 30px;
        border-radius: 0;

        &:hover {
            background-color: #007f92 !important;
            border: 2px solid #007f92 !important;
            color: white;
        }
    }

    &.btn-primary {
        background-color: #272b2e !important;
        font-size: 16px;
        padding: 6px 30px;
        border: solid 2px #272b2e !important;
        border-radius: 0;

        &:hover {
            background-color: #007f92 !important;
            border: 2px solid #007f92 !important;
        }

        &:disabled {
            i {
                color: #808080 !important;
            }
        }

        i {
            color: white !important;
        }

        &:disabled {
            color: #808080;
            background-color: #272b2e;
            opacity: 1;
            &:hover{
                color: #808080;
                background-color: #272b2e !important;
                border: 2px solid #272b2e !important;
                opacity: 1;
                cursor: default;
            }
        }
    }

    &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba(0, 127, 146, 0);
        background-color: #007f92 !important;
        border: 2px solid #007f92 !important;
        color: white;
    }
    
}

.breadcrumb-section {
    background-color: @grey-08;

    ul.breadcrumb {
        background-color: @grey-08;
        padding: 0.75rem 0;

        li {
            font-size: 13px;

            &:first-of-type {
                i.fa-home {
                    font-size: 14px;
                    margin-left: 0;
                }
            }

            i {
                color: @grey-01;
                font-size: 11px;
                margin: 0px 8px 0px;
            }
        }
    }
}

.dataTable {
    font-size: 13px;
    border: 1px solid #ccc;
    width: 100% !important;

    thead {
        th {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background-color: #5d6166;

            &.no-sort::after {
                display: none !important;
            }

            &.sorting, &.sorting_asc, &.sorting_desc {
                background-position: 96% 50% !important;

                &:after, &:before {
                    content: none;
                }
            }

            .sorting_asc {
                background-image: url('../../images/sort-ascending.svg');
            }
            /*&:after {
                //content: url('../../images/sort-ascending.svg');
            }*/
            &.radio {
                &:before, &:after {
                    content: '';
                }
            }

            &:first-of-type {
                border-left: 0px solid #ccc;
            }

            &:last-of-type {
                border-right: 0px solid #ccc;
            }
        }
    }

    tbody {
        tr {
            color: #272b2e;
            cursor: pointer;
        }

        td {
            border-color: #dee2e6;
        }
    }
}

.dataTables_info {
    font-size: 13px;
    text-align: right;
    width: 100%;
}

.dataTables_length {
    font-size: 13px;
}

.bottom {
    .dataTables_length, .dataTables_info, .dataTables_paginate {
        //display: inline-block;
    }

    .dataTables_length {
    }

    .dataTables_info {
    }

    .dataTables_paginate {
    }
}

.dataTables_paginate {
    ul.pagination {
        font-size: 13px;

        li {
            border: none !important;
            padding: 0px;

            a {
                border: none !important;
                color: @a-link;
                padding: .5rem 10px;

                &:focus {
                    border: none;
                    border-radius: 0;
                }
            }

            &.disabled {
                a {
                    color: #6c757d;
                }
            }

            &.previous {
                a {
                    i {
                        margin-right: 10px;
                    }

                    &:hover {
                        border-radius: 0;
                    }
                }
            }

            &.next {
                a {
                    i {
                        margin-left: 10px;
                    }

                    &:hover {
                        border-radius: 0;
                    }
                }
            }

            &.active {
                &:hover {
                    background: #ddd;
                }

                a {
                    background: none;
                    color: black;
                }
            }
        }
    }
}


.table-ccrt-generic {
    border: 1px solid #cccccc;
    thead {
        tr {
            background-color: #5d6166;
            color: white;
            td{

            }
        }
    }
}