@btn-def-bg: #272b2e;
@tab-bg-green: #009245;
@tab-bg-grey: #808080;
@light-grey-text: #8c9094;
@policy-header-bg: #f9f9f9;
@radio-selected: #00b4dc;
@box-border: #e6e6e6;
@a-link: @radio-selected;
@light-f2: #f2f2f2;
@table-header-dark: #5d6166;